footer {
    background-color: white;
    z-index: 99;
    color: black;
    text-align: center;
    position: sticky;
    bottom: 0;

}

.contacMe {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px auto;
}