footer {
    padding: 16px 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: tomato;
    display: flex;
    position: sticky;
    bottom: 0;
    justify-content: space-around;

    a {
        align-self: center;
        text-decoration: none;
        color: white;
    }

    .sosial {
        img {
            width: 45px;
        }
    }
}