.front_ {
    padding-top: 20px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .front_img {
        margin-top: 15px;

        img {
            border-top: 5px solid darkcyan;
            border-bottom: 5px solid darkcyan;
            width: 100%;
        }

        p {
            text-align: center;
            font-size: 20px;
        }
    }
}