// font-family: AngryBirds;

header {
    display: block;
    z-index: 10;
    position: sticky;
    top: 0;
}
nav {
    padding: 15px 0;
    background-color: #6F4C5B ;
    color: #F5E8C7;
    display: flex;
    justify-content: space-around;

    .Hamburger_menu {
        display: flex;
        display: none;
    }
    a {
        font-family: AngryBirds;
        font-size: 25px;
        align-self: center;
        text-decoration: none;
        color: #F5E8C7;
    }

    ul {
        align-items: center;
        display: flex;
        display: flex;
        gap: 20px;

        li {
            list-style: none;

       
        }
    }

    a {
        img {
            width: 35px;
        }
    }
}

@media screen and (max-width: 600px) {

    ul {
        display: none;
        position: absolute;
        li {
            display: none;
        }
    }

    nav {

        .Hamburger_menu {
            display: block;
            align-self: center;
        }
    }
    
}