@import "_Hamburger_menu.scss";
@import "_nav.scss";
@import "_content_utama.scss";
@import "_layanan.scss";
@import "_dig.scss";

* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
    
}