.container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .example_ {
        width: 100%;
        margin: 15px 0;
        justify-content: center;
        display: flex;

        img {
            width: 95%;
            display: block;
       

            &:hover {
                box-shadow: 5px 5px 3px orange;
            }
        }
    }
    .sub_title {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        
        h2 {
            font-style: italic;
        }
        
    }

    .detail_txt{
        font-family: Arial, Helvetica, sans-serif;

        button {
            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
            }
            border: none;
            padding: 20px 35px;
            background-color: darkorange;
            border-radius: 5px;

            &:hover {
                box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.3);
            }

        }
        p {
            span {
                font-weight: bold;
            }
            font-size: 25px;
            margin-bottom: 5px;
        }
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }

    img {
        margin: 10px 0;
        display: block;
        width: 70%;
        border-radius: 10px;
        border: 1px solid darkcyan;
        box-shadow: 2px 2px 3px rgba($color: #000000, $alpha: 1.0);
    }

    .notice_{
        font-size: 20px;
        p {
            a {
                text-decoration: none;
                color:white;
            }

        }
        color: white;
        background-color:darkcyan;
        padding: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}