header {
    top: 0;
    position: sticky;
    background-color: darkcyan;
    padding: 10px;
    text-align: center;
    color: white;
    
    a {
        text-decoration: none;
        color: red;
        font-weight: bold;
        font-style: italic;
    }
}