@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
.nav_ {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 15px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #D94A01;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav_ .logo__ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_ .logo__ a {
  text-decoration: none;
  font-family: Berlin;
  color: #f1f1f1;
}

.nav_ .navigasi {
  font-family: 'Organetto-Bold';
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_ .navigasi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  list-style: none;
}

.nav_ .navigasi ul li a {
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
}

.nav_ .navigasi ul li a::after {
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -25px;
  border-radius: 5px;
}

.nav_ .navigasi ul li a:hover {
  color: yellow;
}

.nav_ .navigasi ul li a:hover::after {
  background: #ffee00;
}

.nav_ .adiburger_ {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav_ .adiburger_ span {
  width: 45px;
  height: 5px;
  border-radius: 5px;
  background: azure;
  margin-bottom: 7px;
}

.nav_ .menu_ {
  font-family: Organetto-Bold;
  border-radius: 10px;
  display: none;
  top: 100px;
  position: absolute;
  width: 90%;
  height: 400px;
  background-color: #D94A01;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #D94A01;
}

.nav_ .menu_ ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.nav_ .menu_ ul li {
  padding: 10px;
}

.nav_ .menu_ ul li a {
  position: relative;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
}

.nav_ .menu_ ul li a::after {
  content: "";
  width: 100%;
  right: 0;
  bottom: -13px;
  left: 0;
  height: 5px;
  position: absolute;
  border-radius: 5px;
}

.nav_ .menu_ ul li a:hover {
  color: gold;
}

.nav_ .menu_ ul li a:hover::after {
  background: brown;
}

@media (max-width: 768px) {
  .nav_ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_ .logo__ {
    font-size: 35px;
    margin-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav_ .navigasi {
    padding: 10px 0;
  }
}

@media (max-width: 600px) {
  .nav_ {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav_ .logo__ {
    font-size: 16px;
  }
  .nav_ .navigasi {
    display: none;
  }
  .nav_ .adiburger_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  position: relative;
}

#container_main {
  background-image: url(../image/pelanggan/main.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

#container_main .main_txt {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: absolute;
}

#container_main h1 {
  font-family: Berlin;
  color: #f3f3f3;
  font-size: 150px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#container_main p {
  margin: 0 150px;
  color: white;
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-style: italic;
}

#container_main button {
  border: none;
  width: 254px;
  margin-top: 18px;
  font-size: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  font-family: Organte_ultraBold;
  height: 67px;
  border-radius: 5px;
  background-color: #D94A01;
}

#container_main button a {
  text-decoration: none;
  color: #ffffff;
}

#container_main button a:hover {
  color: yellow;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 700px) {
  #container_main .main_txt h1 {
    font-size: 20vw;
  }
  #container_main .main_txt p {
    margin: 0 50px;
  }
}

.servics_ {
  background-color: aqua;
  height: 100vh;
  width: 100%;
}

@font-face {
  font-family: 'Organetto-Bold';
  src: url(../font/Organetto-Bold.ttf);
}

@font-face {
  font-family: "Organte_ultraBold";
  src: url(../font/Organetto-BoldUltraCnd.ttf);
}

@font-face {
  font-family: 'Berlin';
  src: url(../font/BRLNSR.TTF);
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=styles.css.map */